.left-side-bar{
  background-color: #9dc1f1;
  width: 250px;
  height: calc(100vh - 170px);
  margin-left: 15vw;
  padding: 2vh;
  display: flex;
  flex-direction: column;
}

.right-side-bar{
  background-color: #9dc1f1;
  width: 250px;
  height: calc(100vh - 170px);
  margin-right: 15vw;
  padding: 2vh;
  display: flex;
  flex-direction: column;
}

.user-contents{
  width: 100%;
  justify-content: center;
  align-items: center;
}

.player-date{

}

.chara-img{
  width: 200px;
  height: 300px;
}
.player-info{
  
}

.player-name{

}

.player-rank{

}

.player-clan{

}

.player-style{

}

.purchase-btn {
  width: 120px;
  text-align: center;
  border-radius: 4%;
  position: fixed;
  
}

.sell-btn-contents {
  width: 100%;
  text-align: center;
}

.sell-btn {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 14px;
  margin-bottom: 4vh;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
}