<div class='right-side-bar'>
  <div class='user-contents'>
    <div class='player-date'>
      <%# image_tag @game.image, class: 'chara-img' %>
      <div class='player-info'>
        <h3 class='player-name'>
          <%# game.player_name %>
        </h3>
        <div class='player-rank'>
          <%# game.rank %>
        </div>
        <div class='player-clan'>
          <%# game.clan %>
        </div>
        <div class='player-style'>
          <%# game.playstyle %>
        </div>
      </div>
    </div>
  </div>
</div>