.contents{
  display: flex;
  width: 100vw;
  height: calc(100vh - 170px);
  background-size: cover;
  justify-content: center;
}

.gameback0{
  background-image: url('priconekabe.jpg');
}

.gameback1{
  background-image: url('guraburu.png');
}

.gameback2{
  background-image: url('priconekabe.png');
}

.gameback3{
  background-image: url('4298422956_d75a809d37.jpg');
}

.main-content{
  width: calc(100vw - 250px - 250px - 15vw - 15vw);
  height: calc(100% - 170px);
  background-color: #ffffff;
  padding: 2vw;
  min-width: 220px;
}

.game-index{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.game-content{
  height: 70px;
  width: 200px;
  display: flex;
  margin: 20px ;
}

.logo-img{
  height: 70px;
  width: 200px;
  border-radius: 5px;
  
}