.contents{
  display: flex;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  justify-content: center;
}

.gameback0{
  background-image: url('priconekabe.jpg');
}

.gameback1{
  background-image: url('guraburu.png');
}

.gameback2{
  background-image: url('priconekabe.png');
}

.gameback3{
  background-image: url('4298422956_d75a809d37.jpg');
}

.main-content{
  width: 50%;
  height: 100%;
  background-color: #ffffff;
}

.game-index{
  width: 70%;
  display: flex;
  margin: 0 auto;
  padding-top: 20px;
}

.logo-img{
  height: 70px;
  width: 200px;
  border-radius: 5px;
  margin: 1vw;
}